In [18]:
import pandas as pd
import numpy as np

# TODO: deal with bottom

data = pd.read_csv('aTL-F2018-stripped.csv')[['Activity type', 'Duration', 'From', 'To']]
print(np.unique(data['Activity type'].values))
data.head()

['AEP 3610' 'AEP 4210' 'ASIAN 3352' 'AguaClara' 'Build' 'COMET' 'CS 3110'
 'Eat' 'Experiment' 'Fun' 'Move' 'None' 'Organize' 'Recreate' 'Reflect'
 'Sleep' 'Upkeep' 'Work']

  Activity type Duration              From                To
0          None    02:23  2018-11-20 13:29  2018-11-20 15:52
1          Move    00:21  2018-11-20 13:07  2018-11-20 13:29
2      AEP 4210    01:54  2018-11-20 11:13  2018-11-20 13:07
3          Move    00:07  2018-11-20 11:05  2018-11-20 11:13
4      AEP 4210    01:25  2018-11-20 09:40  2018-11-20 11:05

In [37]:
# Plot sleep

from datetime import datetime

sleep_data = data[data['Activity type'] == 'Sleep']
intervals = sleep_data[['From', 'To']].applymap(
    lambda x: datetime.strptime(x, "%Y-%m-%d %H:%M")
)
intervals.head()

                  From                  To
8  2018-11-20 00:40:00 2018-11-20 08:18:00
30 2018-11-19 01:23:00 2018-11-19 08:12:00
48 2018-11-18 11:40:00 2018-11-18 13:56:00
54 2018-11-18 01:03:00 2018-11-18 09:18:00
76 2018-11-17 02:44:00 2018-11-17 09:51:00

In [ ]:
# copy-pasted from https://stackoverflow.com/questions/2207670/date-versus-time-interval-plotting-in-matplotlib

import datetime
import numpy as np
import matplotlib.dates as mdates
import matplotlib.pyplot as plt

# dates for xaxis
event_date = [intervals['From'].head()]

# base date for yaxis can be anything, since information is in the time
anydate = datetime.date(2001,1,1)

# event times
event_start = [datetime.time(20, 12), datetime.time(12, 15), datetime.time(8, 1,)]
event_finish = [datetime.time(23, 56), datetime.time(16, 5), datetime.time(18, 34)]

# translate times and dates lists into matplotlib date format numpy arrays
start = np.fromiter((mdates.date2num(datetime.datetime.combine(anydate, event)) for event in event_start), dtype = 'float', count = len(event_start))
finish = np.fromiter((mdates.date2num(datetime.datetime.combine(anydate, event)) for event in event_finish), dtype = 'float', count = len(event_finish))
date = mdates.date2num(event_date)

# calculate events durations
duration = finish - start

fig = plt.figure()
ax = fig.add_subplot(1, 1, 1)

# use errorbar to represent event duration
ax.errorbar(date, start, [np.zeros(len(duration)), duration], linestyle = '')
# make matplotlib treat both axis as times
ax.xaxis_date()
ax.yaxis_date()

plt.show()